[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
mysqlclient = "*"
openapi-core = "~=0.13.8"
openapi-schema-validator = "~=0.1.5"
psutil = "*"
pyjwt = "*"
ldap3 = "*"
argcomplete = "*"
idna = "*"
mattermostdriver = "*"
sqlalchemy = "*"
redis = "*"
systemd-python = "*"
multidict = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3"
