[Unit]
Description=grommunio admin api

[Service]
WorkingDirectory=/usr/share/grommunio-admin-api
ExecStart=/usr/sbin/uwsgi --ini api-config.ini
User=grommunio
Group=nginx
SupplementaryGroups=grommunio
Restart=on-failure
KillSignal=SIGINT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
