[Unit]
Description=grommunio admin api
After=grommunio-admin-api.socket
Requires=grommunio-admin-api.socket

[Service]
WorkingDirectory=/usr/share/grommunio-admin-api/
ExecStart=/usr/sbin/uwsgi --ini /usr/share/grommunio-admin-api/api-config.ini
User=grommunio
Group=nginx
SupplementaryGroups=grommunio
Restart=on-failure
KillSignal=SIGINT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
