[Unit]
Description=Socket for grommunio admin api
PartOf=grommunio-admin-api

[Socket]
ListenStream=/var/run/grommunio/admin-api.socket
SocketUser=grommunio
SocketGroup=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
