[Unit]
Description=Run grommunio-admin DKIM keystore synchronization every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s

[Install]
WantedBy=timers.target
